.DS_Store
.vscode/
.cursor/
.codex*
assets/
__pycache__/
.ipynb_checkpoints/
data/
scripts/
!scripts/
scripts/*
!scripts/train_sope_gym.py
!scripts/test_ope_guided.py
!scripts/inspect_sope_gym_pdataset.ipynb
logs*/
*datasets/
wandb/
tests/

*.hdf5
*.txt
