.DS_Store
.vscode/
.cursor/
assets/
__pycache__/
.ipynb_checkpoints/
data/
scripts/
logs*/
*datasets/

*.hdf5

rollouts/
diffusion_ckpts/
slurm_logs/7439624_sope_d4rl_hopper.out
slurm_logs/7451190_sope_d4rl_hopper.out
