.DS_Store
.vscode/
.cursor/
.codex*
assets/
__pycache__/
.ipynb_checkpoints/
data/
scripts/
!scripts/
scripts/*
!scripts/train_sope_gym.py
!scripts/test_ope_guided.py
!scripts/inspect_sope_gym_pdataset.ipynb
!scripts/download_robomimic_data.py
!scripts/train_robomimic_diffusion_policy.py
logs*/
*datasets/
wandb/
tests/
port_over/

*.hdf5
*.txt
